body {
    margin: 0;
}

#header-navbar {
    background-color: #8bb9fe;
    border: 2px solid #084298;
}

.tittle {
    margin: 30px 0 30px 0;
}

.container section{
    background-color: #9ec5fe;
    border-radius: 20px;
    padding-top: 5px;
}

.container p {
    font-size: 25px;
    padding: 20px;
    font-family: "Times New Roman", serif;
}
